*
!/.gitignore
!/.gitmodules
!/.jest.config.js
!/.github/
!/.github/**
!/CODEOWNERS
!/deps/
!/deps/*
!/generate_proto.sh
!/package.json
!/README.md
!/runtyping.yml
!/src/
!/src/**
!/tsconfig.json
!/yarn.lock
