*
!/.gitignore
!/.gitmodules
!/.jest.config.js
!/.github
!/.github/**
!/CODEOWNERS
!/gen.sh
!/osmosis-frontend
!/package.json
!/proto
!/proto/**
!/src
!/src/**
!/third_party
!/third_party/**
!/tsconfig.json
!/yarn.lock